  server:
    port: 8761

  eureka:
    instance:
      hostname: localhost
    client:
      registerWithEureka: false
      fetchRegistry: false
      serviceUrl:
        defaultZone: http://${eureka.instance.hostname}:${server.port}/eureka/

  spring:
    application:
      name: eureka-server
    jackson:
      # Use a date format instead of the invalid serialization enum
      date-format: "yyyy-MM-dd'T'HH:mm:ss.SSSZ"
      time-zone: UTC

  management:
    endpoints:
      web:
        exposure:
          include: health, info
