server:
  port: 8763


spring:
  application:
    name: config-server

  profiles:
    active: native # This is CRITICAL: Tells it to look at local files

  cloud:
    config:
      server:
        native:
          # IMPORTANT: Update this path to match your actual folder location
          # Based on your screenshot, your path is:
          search-locations: file:///C:/Users/PRABO/OneDrive/Desktop/wedding platform/SrI-Lankan-wedding-platform/config-repo

eureka:
  client:
    serviceUrl:
      defaultZone: http://localhost:8761/eureka/
  instance:
    prefer-ip-address: true

management:
  endpoints:
    web:
      exposure:
        include: health, info